<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="static/index.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <form action="/data" method="post">
          <input type="text" name="writing" id= "writingInput" required>
          <input type="submit" value="write" class = "btn btn-primary btn-lg">
        </form>
      </div>
    </div>
    <div class="row">
      <table class="table table-hover table-bordered">
        <thead>
           <% datas.forEach(item => { %>
            <tr>
              <td> <a href = "/data/<%=item.id %>"><%= item.writing %></a> </td>
              <td> <%= item.writing %> </td>  
            </tr>
          <% }) %>
        </thead>
        <tbody>
        
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>