body {
  padding: 10px;
}

li {
  list-style: none;
}

.box {
  border: 1px solid black;
  width: 50%;
  height: 200px;
  overflow: auto;
}
table{
  margin-top: 20px;
  table-layout: fixed;
  text-align: center;
}

tr:last-child + input{
  width: 100%;
}

